In [1]:
import pandas as pd
import numpy as np

In [2]:
dfred = pd.read_csv('./wine+quality/winequality-red.csv')
dfred

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
dfred.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [4]:
dfred.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [5]:
dfred[dfred['fixed acidity'] == 15]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
243,15.0,0.21,0.44,2.2,0.075,10.0,24.0,1.00005,3.07,0.84,9.2,7
244,15.0,0.21,0.44,2.2,0.075,10.0,24.0,1.00005,3.07,0.84,9.2,7

In [6]:
dfred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [7]:
upper_limit = dfred['fixed acidity'].mean() + 3*dfred['fixed acidity'].std()
upper_limit

13.542926227678894

In [8]:
lower_limit = dfred['fixed acidity'].mean() - 3*dfred['fixed acidity'].std()
lower_limit

3.0963483189127237

In [9]:
dfred[(dfred['fixed acidity']>upper_limit) | (dfred['fixed acidity']<lower_limit)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
243,15.0,0.210,0.44,2.2,0.075,10.0,24.0,1.00005,3.07,0.84,9.2,7
244,15.0,0.210,0.44,2.2,0.075,10.0,24.0,1.00005,3.07,0.84,9.2,7
347,13.8,0.490,0.67,3.0,0.093,6.0,15.0,0.99860,3.02,0.93,12.0,6
374,14.0,0.410,0.63,3.8,0.089,6.0,47.0,1.00140,3.01,0.81,10.8,6
381,13.7,0.415,0.68,2.9,0.085,17.0,43.0,1.00140,3.06,0.80,10.0,6
391,13.7,0.415,0.68,2.9,0.085,17.0,43.0,1.00140,3.06,0.80,10.0,6
442,15.6,0.685,0.76,3.7,0.100,6.0,43.0,1.00320,2.95,0.68,11.2,7
544,14.3,0.310,0.74,1.8,0.075,6.0,15.0,1.00080,2.86,0.79,8.4,6
554,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
555,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
557,15.6,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
652,15.9,0.360,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5

In [10]:
dfred.shape

(1599, 12)

In [11]:
dfred_no_outlier1 = dfred[(dfred['fixed acidity']<upper_limit) & (dfred['fixed acidity']>lower_limit)]
dfred_no_outlier1.shape

(1587, 12)

In [12]:
upper_limit = dfred_no_outlier1['chlorides'].mean() + 3*dfred_no_outlier1['chlorides'].std()

lower_limit = dfred_no_outlier1['chlorides'].mean() - 3*dfred_no_outlier1['chlorides'].std()
lower_limit,upper_limit

(-0.05424955964572427, 0.22917205491982634)

In [14]:
len(dfred_no_outlier1[(dfred_no_outlier1['chlorides']>upper_limit) | (dfred_no_outlier1['chlorides']<lower_limit)])

31

In [15]:
dfred_no_outlier2 = dfred_no_outlier1[(dfred_no_outlier1['chlorides']<upper_limit) & (dfred_no_outlier1['chlorides']>lower_limit)]
dfred_no_outlier2.shape

(1556, 12)

In [16]:
upper_limit = dfred_no_outlier2['citric acid'].mean() + 3*dfred_no_outlier2['citric acid'].std()

lower_limit = dfred_no_outlier2['citric acid'].mean() - 3*dfred_no_outlier2['citric acid'].std()
print(lower_limit,upper_limit)
len(dfred_no_outlier2[(dfred_no_outlier2['citric acid']>upper_limit) | (dfred_no_outlier2['citric acid']<lower_limit)])

-0.3069920086427925 0.8354881526016614

0

In [17]:
dfred_no_outlier3 = dfred_no_outlier2[(dfred_no_outlier2['citric acid']<upper_limit) & (dfred_no_outlier2['citric acid']>lower_limit)]
dfred_no_outlier3.shape

(1556, 12)

In [18]:
upper_limit = dfred_no_outlier3['volatile acidity'].mean() + 3*dfred_no_outlier3['volatile acidity'].std()

lower_limit = dfred_no_outlier3['volatile acidity'].mean() - 3*dfred_no_outlier3['volatile acidity'].std()
print(lower_limit,upper_limit)
len(dfred_no_outlier3[(dfred_no_outlier3['volatile acidity']>upper_limit) | (dfred_no_outlier3['volatile acidity']<lower_limit)])

-0.010322920570868588 1.0666018408793518

10

In [20]:
dfred_no_outlier4 = dfred_no_outlier3[(dfred_no_outlier3['volatile acidity']<upper_limit) & (dfred_no_outlier3['volatile acidity']>lower_limit)]
dfred_no_outlier4.shape

(1546, 12)

In [21]:
upper_limit = dfred_no_outlier4['residual sugar'].mean() + 3*dfred_no_outlier4['residual sugar'].std()

lower_limit = dfred_no_outlier4['residual sugar'].mean() - 3*dfred_no_outlier4['residual sugar'].std()
print(lower_limit,upper_limit)
len(dfred_no_outlier4[(dfred_no_outlier4['residual sugar']>upper_limit) | (dfred_no_outlier4['residual sugar']<lower_limit)])

-1.7079738000630105 6.789474446893541

29

In [23]:
dfred_no_outlier5 = dfred_no_outlier4[(dfred_no_outlier4['residual sugar']<upper_limit) & (dfred_no_outlier4['residual sugar']>lower_limit)]
dfred_no_outlier5

(1517, 12)

In [27]:
X = dfred_no_outlier.drop(['quality'],axis='columns')
y=dfred_no_outlier.quality

In [ ]:
dfred_no_outlier

In [28]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=50)

In [29]:
from sklearn.linear_model import LinearRegression
lenR = LinearRegression()
lenR.fit(X_train,y_train)
lenR.score(X_test,y_test)

0.3547465287313464

In [30]:
from sklearn.linear_model import LogisticRegression
logR = LogisticRegression()
logR.fit(X_train,y_train)
logR.score(X_test,y_test)

C:\Users\djgop\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.5849056603773585